{% for idea in ideas %}
<div class="idea">
    <img src="{{idea.image}}" alt="Imagem de {{idea.title}}">

    <div class="content"> 
        <h3>{{idea.title}}</h3>
        <p>{{idea.category}}</p>
        <div class="description">
            {{idea.description}}
        </div>
        <a href="{{idea.link}}" target="_blank">Ir para a Idéia</a>
    </div>

    <div class="icon hide">
        <!-- <img id="edit_icon" src="https://image.flaticon.com/icons/svg/715/715750.svg" onclick="editIdea('{{idea.id}}')" alt="Imagem de {{idea.title}}"> -->
         <img id="delete_icon" src="https://image.flaticon.com/icons/svg/3221/3221897.svg" onclick="onOff2('{{idea.id}}')" alt="Imagem de Karaoke">
     </div>
</div>
{% endfor %}