<div id="modal2" class="hide">
    <div class="content">
        <div class="header">
            
            <img src="https://image.flaticon.com/icons/svg/1828/1828843.svg" alt="Imagem de Exclusão">
            <h1>Excluir registro</h1>
            <p>Deseja excluir esse registro definitivamente?</p> 
        </div>
        <form action="/delete" method="POST">
            
            <div class="buttons field">
                <button>Sim</button>
                <a href="#" id="button2" onclick="onOff2()">Não</a>                
            </div>
            <input id="id" name="id" type="hidden" value="">
        </form>
    </div>
</div>

