    <!-- Modal -->
    <div id="modal" class="hide">

        <div class="content">
            <h1>Nova Ideia</h1>

            <form action="/" method="POST" onsubmit="return checkFields(event)">

                <div class="input-wrapper">
                    <label for="title">Título da Ideia</label>
                    <input type="text" name="title">
                </div>

                <div class="input-wrapper">
                    <label for="category">Categoria</label>
                    <input type="text" name="category">
                </div>

                <div class="input-wrapper">
                    <label for="image">Link da imagem 
                        <img onclick="showOff()" class="modal_img" src="https://image.flaticon.com/icons/svg/2910/2910890.svg" alt="Sugestão">
                        
                        <div class="sugestion hideFields">

                            <span  class="modal_span ">Sugestão: </span> 
                            
                            <a class="modal_a" href="https://www.flaticon.com/" target="_blank">Flaticon</a>
                        
                        </div>
                    </label>

                    <input type="url" name="image">
                </div>

                <div class="input-wrapper">
                    <label for="description">Digite uma descrição para essa ideias</label>
                    <textarea name="description" cols="30" rows="10"></textarea>
                </div>

                <div class="input-wrapper">
                    <label for="link">Link da ideia</label>
                    <input type="url" name="link">
                </div>

                <a href="#" onclick="onOff()">Voltar</a>
                <button>Salvar</button>

            </form>
        </div>
    </div>